body{
    background-color: #0D1A2D;
    font-family: sans-serif;
}
.card{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    min-height: 600px;
    padding: 20px;
    border-radius: 15px;
    background-color: #15273F;
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0.5, 0.1);
}
img{
    max-width: 350px;
    border-radius: 7px; 
}
#txt{
    color: #F7FFFF;
}
p{
    color: #657A99;
}
footer{
    display: flex;
    align-items: center;
}
#foo{
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
}
.s1{
    color: #657A99;
    padding-left: 15px;
}
.s2{
    color: bisque;
    padding-left: 5px;
}
hr{
    opacity: 0.2;
}
.icon{
    display: flex;
    justify-content: space-between;
}
.icon-img{
    height: 20px;
}
.icon1{
    display: flex;
    align-items: center;
}
.icon2{
    display: flex;
    align-items: center;
}
.i-txt1{
    padding-left: 5px;
    color: #00FFF8;
}
.i-txt2{
    padding-left: 5px;
    color: #89A9D8;
}